*.iml
.gradle
/local.properties
.idea/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
gradlew
gradlew.bat
CLAUDE.md
memory
*.db

#python
.venv
.python-version
**__pycache__**

# Models
app/src/debug/assets/ai/dev/*.onnx
app/src/main/assets/ai/en_pp-ocrv5_mobile_rec.onnx

#jsc
.env
