*.iml
.gradle
/local.properties
.idea/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
CLAUDE.md
memory

#trash
*.db
*.db-shm
*.db-wal
*.vive
myTrash/

#python
.venv
.python-version
**__pycache__**

# Models
app/src/debug/assets/ai/dev/*.onnx

#jsc
.env
