*.iml
.gradle
/local.properties
.idea/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
docs/
gradlew
gradlew.bat
CLAUDE.md

# Models
app/src/debug/assets/ai/dev/pp-formulanet-s.onnx
app/src/main/assets/ai/en_pp-ocrv5_mobile_rec.onnx
